<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jifalops.wsnlocalize" >

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.bluetooth" android:required="true"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false"/>
    <uses-feature android:name="android.hardware.wifi" android:required="true"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service android:name=".toolbox.ServiceThreadApplication$LocalService" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DemoActivity"
            android:label="Demos"/>
        <activity
            android:name=".bluetooth.BtBeaconDemoActivity"
            android:label="BT Beacon Demo"/>
        <activity
            android:name=".bluetooth.BtLeBeaconDemoActivity"
            android:label="BT-LE Beacon Demo"/>
        <activity
            android:name=".toolbox.wifi.WifiScannerDemoActivity"
            android:label="WiFi Scanner Demo"/>
        <activity
            android:name=".toolbox.nsd.NsdDemoActivity"
            android:label="NSD Demo"/>
        <activity
            android:name=".RssiSamplingActivity"
            android:label="Sample Collection"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance" />
        <activity
            android:name=".SampleViewerActivity"
            android:label="@string/activity_sampleviewer"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance" />
        <activity
            android:name=".EstimatorTrainingActivity"
            android:label="Estimator Training"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance" />
        <activity
            android:name=".EstimatorViewerActivity"
            android:label="Estimators Viewer"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance" />
        <activity
            android:name=".DistanceEstimationActivity"
            android:label="Distance Estimator (mean, median)"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance" />
    </application>

</manifest>
